.toast__wrap{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: transparent;
  z-index: 999;
}
.toast{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background:rgba(0,0,0,0.8);
  padding: 9px 14px;
  color: #fff;
}
.toast-hd{
  padding: 13px 0;
}
.toast-svg{
  margin: auto;
  width: 42px;
  height:42px;
  fill: #fff;
  display: block;
  animation: rotate 1s infinite linear;
}
@keyframes rotate{
  0% {transform: rotateZ(0)}
  100%{transform: rotateZ(360deg)}
}